@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Student Application Platform</h1>
    <img src="../logo.jpg" />
</div>


@if (Session["UserName"] != null)
{
<div class="well">
 
    <h2>@Session["UserName"]</h2>

</div>
}