
@{
    ViewBag.Title = "Access Denied";
}


<div class="well">

    <h1><span style="color: #000000;"><span style="background-color: #ff0000;">Access Denied !</span></span></h1>
    <hr class="soft"/>
    <table border="0" style="height: 142px; width: 100%; border-collapse: collapse;">
        <tbody>
            <tr style="height: 142px;">
                <td style="width: 5%; height: 142px;"><span class="glyphicon glyphicon-alert"></span></td>
                <td style="width: 95%; height: 142px;">You are not authorized to see this page. Please login or use an authorized account.</td>
            </tr>
        </tbody>
    </table>

</div>

