body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../bg.png");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.soft {
    border-top: 1px solid #8c8b8b;
}


.btn-login {
    border-radius: 4px;
    background-color: #5cb85c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 19px;
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.btn-login span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.btn-login span:after {
    content: '\1F511';
    position: absolute;
    opacity: 0;
    top: -5px;
    right: -10px;
    transition: 0.5s;
    }

.btn-login:hover span {
    padding-right: 35px;
    }

.btn-login:hover span:after {
    opacity: 1;
    right: 0;
    }