@model IEnumerable<StudentApplicationSystem.Models.New>

@{
    ViewBag.Title = "Announcements";
}

<h2>All Announcements</h2>

@if (Session["userName"] != null && (int)Session["isAdmin"] == 1)
{
    <p>
        <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "News")';return false;">
            <span class="glyphicon glyphicon-plus"></span> Create New
        </button>
    </p>
}

<table border="0" style="height: 184px; width: 100%; border-collapse: collapse;">
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="height: 100px; width: 100px;">
            <td style="width: 19.0858%; height: 100px;"><img src="data:image;base64,@Convert.ToBase64String(item.image)" alt="" width="100" height="100" /></td>
            <td style="width: 21.0284%; height: 100px;">
                <div class="BarBlock"><a class="NewsButton" href="@Url.Action("Details", "News", new { id = item.newId })">@item.header</a></div>
            </td>
            <td style="width: 61.0504%; height: 100px; text-align: left;">@item.dt_created</td>

            @if (Session["userName"] != null && (int)Session["isAdmin"] == 1)
            {
            <td>
                <a href=@Url.Action("Edit", new { id = item.newId })><i class="glyphicon glyphicon-edit"> Edit </i></a>
                <a href=@Url.Action("Details", new { id = item.newId })><i class="glyphicon glyphicon-zoom-in"> Details </i></a>
                <a href=@Url.Action("Delete", new { id = item.newId })><i class="glyphicon glyphicon-remove"> Delete </i></a>
            </td>
            }

        </tr>
        }
    </tbody>
</table>

